$eye-size: 40px;
$pupil-size: $eye-size * 0.75 - 10; //10px removed for pupil border
.eye {
	position: relative;
	background-color: white;
	width: $eye-size;
	height: $eye-size;
	border: 5px solid black;
	border-radius: $eye-size;
	float: left;
	margin: -$eye-size/2;
	top: $eye-size/2;
	left: $eye-size/2;
	.pupil {
		background-color: black;
		width: $pupil-size;
		height: $pupil-size;
		border-radius:$pupil-size;
		border: 5px solid black;
		&.down { margin-top: $eye-size - $pupil-size }
		&.right { margin-left:$eye-size - $pupil-size }
	}
}

.trash {
	width:100px;
	height:100px;
	position: fixed;
	top: 0;
	right: 10px;
	background: rgba(255,0,0,0.4);
	border-radius: 0 0 10px 10px;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }